@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login">
    <form asp-action="ResetPassword" asp-controller="Account" method="post" class="login__form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <fieldset class="form-group position-relative has-icon-left">
            <input asp-for="UserName" class="form-control" id="user-name" placeholder="Your Username" />
            <div class="form-control-position">
                <i class="ft-user"></i>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left">
            <input asp-for="CurrentPassword" class="form-control" id="current-password" placeholder="Enter current password" />
            <div class="form-control-position">
                <i class="la la-key"></i>
            </div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left">
            <input asp-for="NewPassword" class="form-control" id="new-password" placeholder="Enter new password" />
            <div class="form-control-position">
                <i class="la la-key"></i>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </fieldset>
        <button type="submit" class="btn btn-info btn-lg btn-block"><i class="ft-user"></i> Reset Password</button>
    </form>
</div>
@section scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}